// $primary: #3498db;
// $secondary: #e67e22;
// $success: #2ecc71;
// $danger: #e74c3c;
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
// $btn-focus-width: 0;
